@import "../sprites/sprite";

/*------------------------------------
    Colors, Fonts Styles
------------------------------------- */

	$top: #3498db;
	$main: #f0f3f7;
	$active: #51dacf;
	$gray-text: #8ea1b4;
	$gray-background: #f5f6f8;
	$gray-time: #c9d6df;
	$gray-status: #d4e1ea;
	$blue-main: #3598db;
	
	@font-face {
		font-family: 'Lato-Bold';
		src: url('../fonts/Lato-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Lato-Regular';
		src: url('../fonts/Lato-Regular.ttf') format('truetype');
	}

	body, html {
		height: 100%;
	}

/* ------------------------------------
    Top Styles
------------------------------------- */

.l-chat {
	background-color: $main;	
	height: 100%;
	display: flex;
	flex-direction: column;
	&__account {
		margin-right:98px;
		align-self: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

.b-top {
	height: 70px;
	background-color: $top;
	//min-width: 1000px;
	display: flex;
	//flex-direction: column;
	justify-content: flex-end;
	&__menu {
		@include sprite($b-top-menu);
		//order: 1;
		margin-right: auto;
		margin-left: 22px;
		align-self: center;
		//margin: 26px auto 26px  22px
	}
	&__search {
		@include sprite($b-top-search);
		align-self: center;
	}	
	&__avatar {
		align-self: center;
		margin: 6px 25px 4px 18px;
		border-radius: 50%;
	}
	&__name {
		color: #FFF;
		font-family: 'Lato-Bold', sans-serif;
		font-size: 15px;
		display: block;
	}
	&__status {
		color: #2775a9;
		font-size: 12px;
		font-family: 'Lato-Regular', sans-serif;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			@include sprite($b-top-arrow);
			right: 0;
			top: 6px;
		}
	}
}

/* ------------------------------------
    Side Styles
------------------------------------- */

.b-side {
	width: 70px;
	display: flex;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	&__home {
		@include sprite($b-side-home);
		margin: 20px 10px;
	}
	&__chat {
		@include sprite($b-side-chat);
		margin: 34px 10px;
	}
	&__chart {
		@include sprite($b-side-chart);
		margin: 16px 10px; 
	};
	&__settings {
		@include sprite($b-side-settings);
		margin: 34px 10px;
	}
}

/* ------------------------------------
    Chat List Styles
------------------------------------- */

.b-chatList {
	background-color: #fff;
	border-radius: 4px;
	flex-grow: 1;
	flex-shrink: 4;
	display: flex;
	flex-direction: column;
	margin: 20px 15px 20px 30px;
	width: 280px;
	&__chat {
		align-self: center;
		color: $blue-main;
		margin-right: auto;
		text-decoration: none;
	}
	&__new {
		align-self: center;
		background-color: #d6e3ec;
		border-radius: 4px;
		color: $gray-text;
		padding: 10px 32px;
		text-decoration: none;
		text-transform: uppercase;
		margin-right: 6px;
	}
	&__count {
		background-color: $top;
		border-radius: 50%;
		color: #fff;
		font-family: 'Lato-Bold', sans-serif;
		font-size: 12px;
		font-style: normal;
		left: 24px;
		padding: 10px;
		padding: 4px 8px;
		position: absolute;
		top: -8px;
		&--active {
			background-color: transparent;
			color: transparent;
		}
	}

	&__name {
			font-size: 16px;
			font-family: 'Lato-Bold', sans-serif;
			color: #34495e;
			&--left {
				color: #a8b6c4;
			}
	}

	&__message {
		font-size: 12px;
		font-family: 'Lato-Regular', sans-serif;
		align-self: center;
		color: $gray-text;
		margin: 0;
		&--left {
			color: $gray-time;
		}
	}

	&__time {
		font-size: 12px;
		font-family: 'Lato-Regular', sans-serif;
		color: $gray-time;	
		//max-width: 10%;
		&--active {
			color: transparent;
		}
	}

	&__status {
		height: 8px;
    width: 8px;
    margin-left: 18px;
		border-radius: 50%;
		margin-top: 8px;
		margin-bottom: 6px;
		background-color: $gray-status;
		//align-self: center;
		&--active {
			background-color: $active;
		}
	}

	&__image {
		border-radius: 50%;
	}

}

.l-workspace {
	display: flex;
	background-color: $gray-background;
	align-content: flex-start;
	flex-grow: 1;
	&__chatListTitle {
		font-family: 'Lato-Bold', sans-serif;
		font-size: 16px;
		margin: 0px 12px 0px 16px;
		height: 62px;
		display: flex;
		justify-content: flex-end;
		border-bottom: 2px solid #edf0f2;
		height: 62px;
	}
	&__chatTitle {
		display: flex;
		height: 62px;
		border-bottom: 2px solid #ddebf4;
	}
	&__chat {
		display: flex;
		flex-wrap: wrap;
		overflow-y: auto;
		overflow-x: hidden; 
	}
	&__type {
		margin-top: auto;
		display: flex;
	}
	&__angenaTitle {
			display: flex;
			margin: 0 12px;
			border-bottom: 2px solid #ddebf4;
	}
}

.l-members {
	overflow-y: auto;
	flex-grow: 1;
	&__person {
		&:first-child {
			margin-top: 14px;
			padding-top: 0;
		}
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 6px;
		padding-top: 10px;
		margin-bottom: 4px;
		&--active {
			background-color: $gray-background;
		}
	}
	&__avatar {
		margin-left: 12px;
		position: relative;
		width: 20%;
	}
	&__info {
		width: 60%;
	}
	&__status {
		//width: 18%;
	}

}

/* ------------------------------------
    Chat Styles
------------------------------------- */

.b-chat {
	width: 556px;
	border-radius: 4px;
	//margin: 20px 15px 20px 10px;
	margin: 20px 15px 20px 6px;
	flex-grow: 3;
	flex-shrink: 3;
	display: flex;
	flex-direction: column;
	&__name {
		font-family: 'Lato-Bold', sans-serif;
		font-size: 18px;
		color: #16315c;
		letter-spacing: -0.8px;
		margin-bottom: 4px;
		align-self: center;
	}
	&__status {
		height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: $gray-status;
    margin: 0 10px;
    align-self: center;    
    &--active {
    	background-color: $active;
    }
	}
	&__call {
		@include sprite($b-chat-call);
		align-self: center;
		margin: 0 4px 0 auto;
	}
	&__videocall {
		@include sprite($b-chat-videocall);
		align-self: center;
		margin: 0px 26px;;
	}
	&__menu {
		@include sprite($b-chat-menu);
		align-self: center;
		// margin: 0 10px;
		margin: 0 12px 0 10px;
	}
	&__person {
		//margin: 8px 0px 8px -8px;
		margin: 8px 0px 8px 0px;
		display: flex;
		&--right {
			//margin: 0 -4px 8px auto;
			margin: 0px -4px 0px auto;
		}
	}
	&__message {
		color: $gray-text;
		font-family: 'Lato-Regular', sans-serif;
		font-size: 12px;
		margin: 0 0 0 20px;
    align-self: center;
    background-color: #fff;
    border-radius: 54px;
    letter-spacing: 0.1px;
    max-width: 352px;
    // padding: 12px 16px;
    padding: 12px 6px 12px 18px;
    position: relative;
    &--left {
    	&:before {
    		content: '';
    		@include sprite($b-chat-triangle0);
    		left: -6px;
    		position: absolute;
    	}
    }
		&--right {
			background-color: $blue-main;
			color: #FFF;
			margin: 0 20px 0 0;
			padding: 12px;
			position: relative;
			&:after {
				content: '';
    		@include sprite($b-chat-triangle1);
    		position: absolute;
    		right: -6px;
			}
		}
	}
	&__avatar {
		border-radius: 50%;
		align-self: flex-start;
		//margin-left: 5px;
	}
	&__text {
		min-width: 70%;
		padding: 22px 30px 22px 22px;
    border: none;
    border-radius: 10px;
    font-family: 'Lato-Regular', sans-serif;
    font-size: 12px;
    color: $gray-text;
    &:focus, &:active {
    	outline: none;
    }
	}
	&__type {
		background-color: #FFF;
		border-radius: 10px;
	}
	&__button {
		&--image {
			@include sprite ($b-chat-send);
    	//margin: 20px 0;
    	align-self: center;
    	border-radius: 50%;
    	margin-right: 10px;
		}
    opacity: 0;
    padding: 12px 22px;
    cursor: pointer;
	}
	&__file {
		&--image {
			align-self: center;
			@include sprite ($b-chat-attach);
			margin-left: auto;
			margin-right: 10px;			
		}
		padding: 10px;
		opacity: 0;
		max-width: 10px;
		cursor: pointer;
	}
}

/* ------------------------------------
    Agenda Styles
------------------------------------- */

.b-agenda {
	min-width: 346px;
	border-radius: 4px;
	margin: 20px 30px 20px 15px;
	background-color: #fff;
	&__name {
		font-family: 'Lato-Bold', sans-serif;
		font-size: 18px;
		color: $blue-main;
		margin: 20px 0px;
		letter-spacing: -1.2px;
	}
	&__menu {
		@include sprite ($b-chat-menu);
		align-self: center;
    margin: -2px 8px 0 auto;
	}
}