
@import "../sprites/sprite";


/*------------------------------------
    Colors, Fonts Styles
------------------------------------- */

	$top: #3498db;
	$main: #f0f3f7;
	$active: #51dacf;
	$gray-text: #8ea1b4;
	
	@font-face {
		font-family: 'Lato-Bold';
		src: url('../fonts/Lato-Bold.ttf') format('truetype');
	}

	@font-face {
		font-family: 'Lato-Regular';
		src: url('../fonts/Lato-Regular.ttf') format('truetype');
	}

/* ------------------------------------
    Top Styles
------------------------------------- */

.l-chat {
	background-color: $main;	
	&__account {
		margin-right:98px;
		align-self: center;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
		}
	}
}

.b-top {
	height: 70px;
	background-color: $top;
	//min-width: 1000px;
	display: flex;
	//flex-direction: column;
	justify-content: flex-end;
	&__menu {
		@include sprite($b-top-menu)
		//order: 1;
		margin-right: auto;
		margin-left: 22px;
		align-self: center;
		//margin: 26px auto 26px  22px
	}
	&__search {
		@include sprite($b-top-search);
		align-self: center;
	}	
	&__avatar {
		//@include sprite($b-top-avatar);
		align-self: center;
		margin-top: 10px;
		margin-right: 6px;
	}
	&__name {
		color: #FFF;
		font-family: 'Lato-Bold', sans-serif;
		font-size: 15px;
		display: block;
	}
	&__status {
		color: #2775a9;
		font-size: 12px;
		font-family: 'Lato-Regular', sans-serif;
		position: relative;
		&:after {
			content: '';
			position: absolute;
			@include sprite($b-top-arrow);
			right: 0;
			top: 6px;
		}
	}
}

/* ------------------------------------
    Side Styles
------------------------------------- */

.b-side {
	width: 70px;
	display: flex;
	//flex-direction: column;
	height: 100vh;
	align-content: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #fff;
	&__home {
		@include sprite($b-side-home);
		margin: 20px 10px;
	}
	&__chat {
		@include sprite($b-side-chat);
		margin: 34px 10px;
	}
	&__chart {
		@include sprite($b-side-chart);
		margin: 16px 10px; 
	};
	&__settings {
		@include sprite($b-side-settings);
		margin: 34px 10px;
	}
}

/* ------------------------------------
    Chat List Styles
------------------------------------- */

.l-workspace {
	//padding: 20px 26px;
	display: flex;
	//width: 100%;
	background-color: #f5f6f8;
	align-content: flex-start;
	&__titleChatList {
		font-family: 'Lato-Bold', sans-serif;
		font-size: 16px;
		margin: 0px 12px 12px 16px;
		height: 62px;
		display: flex;
		justify-content: flex-end;
		border-bottom: 2px solid #edf0f2;
	}
}

.b-chatList {
	background-color: #fff;
	border-radius: 4px;
	flex-grow: 1;
	flex-shrink: 4;
	height: 96vh;
	margin: 20px 15px 20px 30px;
	width: 280px;
	&__chat {
		align-self: center;
		color: #3598db;
		margin-right: auto;
		text-decoration: none;
	}
	&__new {
		align-self: center;
		background-color: #d6e3ec;
		border-radius: 4px;
		color: #8ea1b4;
		padding: 10px 32px;
		text-decoration: none;
		text-transform: uppercase;
	}
	&__count {
		background-color: $top;
		border-radius: 50%;
		color: #fff;
		font-family: 'Lato-Bold', sans-serif;
		font-size: 12px;
		font-style: normal;
		left: 24px;
		padding: 10px;
		padding: 4px 8px;
		position: absolute;
		top: -8px;
	}

	&__name {
			font-size: 16px;
			font-family: 'Lato-Bold', sans-serif;
	}

	&__message {
		font-size: 12px;
		font-family: 'Lato-Regular', sans-serif;
		align-self: center;
		color: $gray-text;
		margin: 0;
	}

	&__time {
		font-size: 12px;
		font-family: 'Lato-Regular', sans-serif;
		color: #c9d6df;	
	}

	&__status {
		height: 8px;
    width: 8px;
    margin-left: auto;
		border-radius: 50%;
		margin-top: 8px;
		margin-bottom: 6px;
		//align-self: center;
		&--active {
			background-color: $active;
		}
	}

}

.l-members {
	&__person {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 24px;
	}
	&__avatar {
		margin-left: 12px;
		position: relative;
		width: 20%;
	}
	&__info {
		width: 60%;
	}
	&__status {
		//width: 20%;
	}
}

/* ------------------------------------
    Chat Styles
------------------------------------- */

.b-chat {
	width: 556px;
	height: 96vh;
	border-radius: 4px;
	//background-color: #fff;
	margin: 20px 15px 20px 15px;
	flex-grow: 3;
	flex-shrink: 3;
}

/* ------------------------------------
    Agenda Styles
------------------------------------- */

.b-agenda {
	min-width: 346px;
	border-radius: 4px;
	height: 96vh;
	margin: 20px 30px 20px 15px;
	background-color: #fff;
}