/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$b-agenda-back-name: 'b-agenda__back';
$b-agenda-back-x: 88px;
$b-agenda-back-y: 39px;
$b-agenda-back-offset-x: -88px;
$b-agenda-back-offset-y: -39px;
$b-agenda-back-width: 11px;
$b-agenda-back-height: 20px;
$b-agenda-back-total-width: 105px;
$b-agenda-back-total-height: 80px;
$b-agenda-back-image: 'sprite.png';
$b-agenda-back: (88px, 39px, -88px, -39px, 11px, 20px, 105px, 80px, 'sprite.png', 'b-agenda__back', );
$b-agenda-next-name: 'b-agenda__next';
$b-agenda-next-x: 88px;
$b-agenda-next-y: 19px;
$b-agenda-next-offset-x: -88px;
$b-agenda-next-offset-y: -19px;
$b-agenda-next-width: 11px;
$b-agenda-next-height: 20px;
$b-agenda-next-total-width: 105px;
$b-agenda-next-total-height: 80px;
$b-agenda-next-image: 'sprite.png';
$b-agenda-next: (88px, 19px, -88px, -19px, 11px, 20px, 105px, 80px, 'sprite.png', 'b-agenda__next', );
$b-chat-attach-name: 'b-chat__attach';
$b-chat-attach-x: 63px;
$b-chat-attach-y: 19px;
$b-chat-attach-offset-x: -63px;
$b-chat-attach-offset-y: -19px;
$b-chat-attach-width: 11px;
$b-chat-attach-height: 40px;
$b-chat-attach-total-width: 105px;
$b-chat-attach-total-height: 80px;
$b-chat-attach-image: 'sprite.png';
$b-chat-attach: (63px, 19px, -63px, -19px, 11px, 40px, 105px, 80px, 'sprite.png', 'b-chat__attach', );
$b-chat-call-name: 'b-chat__call';
$b-chat-call-x: 88px;
$b-chat-call-y: 0px;
$b-chat-call-offset-x: -88px;
$b-chat-call-offset-y: 0px;
$b-chat-call-width: 17px;
$b-chat-call-height: 19px;
$b-chat-call-total-width: 105px;
$b-chat-call-total-height: 80px;
$b-chat-call-image: 'sprite.png';
$b-chat-call: (88px, 0px, -88px, 0px, 17px, 19px, 105px, 80px, 'sprite.png', 'b-chat__call', );
$b-chat-menu-name: 'b-chat__menu';
$b-chat-menu-x: 99px;
$b-chat-menu-y: 19px;
$b-chat-menu-offset-x: -99px;
$b-chat-menu-offset-y: -19px;
$b-chat-menu-width: 5px;
$b-chat-menu-height: 19px;
$b-chat-menu-total-width: 105px;
$b-chat-menu-total-height: 80px;
$b-chat-menu-image: 'sprite.png';
$b-chat-menu: (99px, 19px, -99px, -19px, 5px, 19px, 105px, 80px, 'sprite.png', 'b-chat__menu', );
$b-chat-send-name: 'b-chat__send';
$b-chat-send-x: 0px;
$b-chat-send-y: 0px;
$b-chat-send-offset-x: 0px;
$b-chat-send-offset-y: 0px;
$b-chat-send-width: 40px;
$b-chat-send-height: 40px;
$b-chat-send-total-width: 105px;
$b-chat-send-total-height: 80px;
$b-chat-send-image: 'sprite.png';
$b-chat-send: (0px, 0px, 0px, 0px, 40px, 40px, 105px, 80px, 'sprite.png', 'b-chat__send', );
$b-chat-triangle0-name: 'b-chat__triangle0';
$b-chat-triangle0-x: 19px;
$b-chat-triangle0-y: 62px;
$b-chat-triangle0-offset-x: -19px;
$b-chat-triangle0-offset-y: -62px;
$b-chat-triangle0-width: 15px;
$b-chat-triangle0-height: 14px;
$b-chat-triangle0-total-width: 105px;
$b-chat-triangle0-total-height: 80px;
$b-chat-triangle0-image: 'sprite.png';
$b-chat-triangle0: (19px, 62px, -19px, -62px, 15px, 14px, 105px, 80px, 'sprite.png', 'b-chat__triangle0', );
$b-chat-triangle1-name: 'b-chat__triangle1';
$b-chat-triangle1-x: 88px;
$b-chat-triangle1-y: 59px;
$b-chat-triangle1-offset-x: -88px;
$b-chat-triangle1-offset-y: -59px;
$b-chat-triangle1-width: 15px;
$b-chat-triangle1-height: 14px;
$b-chat-triangle1-total-width: 105px;
$b-chat-triangle1-total-height: 80px;
$b-chat-triangle1-image: 'sprite.png';
$b-chat-triangle1: (88px, 59px, -88px, -59px, 15px, 14px, 105px, 80px, 'sprite.png', 'b-chat__triangle1', );
$b-chat-videocall-name: 'b-chat__videocall';
$b-chat-videocall-x: 44px;
$b-chat-videocall-y: 40px;
$b-chat-videocall-offset-x: -44px;
$b-chat-videocall-offset-y: -40px;
$b-chat-videocall-width: 18px;
$b-chat-videocall-height: 20px;
$b-chat-videocall-total-width: 105px;
$b-chat-videocall-total-height: 80px;
$b-chat-videocall-image: 'sprite.png';
$b-chat-videocall: (44px, 40px, -44px, -40px, 18px, 20px, 105px, 80px, 'sprite.png', 'b-chat__videocall', );
$b-side-chart-name: 'b-side__chart';
$b-side-chart-x: 22px;
$b-side-chart-y: 40px;
$b-side-chart-offset-x: -22px;
$b-side-chart-offset-y: -40px;
$b-side-chart-width: 22px;
$b-side-chart-height: 22px;
$b-side-chart-total-width: 105px;
$b-side-chart-total-height: 80px;
$b-side-chart-image: 'sprite.png';
$b-side-chart: (22px, 40px, -22px, -40px, 22px, 22px, 105px, 80px, 'sprite.png', 'b-side__chart', );
$b-side-chat-name: 'b-side__chat';
$b-side-chat-x: 40px;
$b-side-chat-y: 22px;
$b-side-chat-offset-x: -40px;
$b-side-chat-offset-y: -22px;
$b-side-chat-width: 23px;
$b-side-chat-height: 16px;
$b-side-chat-total-width: 105px;
$b-side-chat-total-height: 80px;
$b-side-chat-image: 'sprite.png';
$b-side-chat: (40px, 22px, -40px, -22px, 23px, 16px, 105px, 80px, 'sprite.png', 'b-side__chat', );
$b-side-home-name: 'b-side__home';
$b-side-home-x: 40px;
$b-side-home-y: 0px;
$b-side-home-offset-x: -40px;
$b-side-home-offset-y: 0px;
$b-side-home-width: 23px;
$b-side-home-height: 22px;
$b-side-home-total-width: 105px;
$b-side-home-total-height: 80px;
$b-side-home-image: 'sprite.png';
$b-side-home: (40px, 0px, -40px, 0px, 23px, 22px, 105px, 80px, 'sprite.png', 'b-side__home', );
$b-side-settings-name: 'b-side__settings';
$b-side-settings-x: 0px;
$b-side-settings-y: 62px;
$b-side-settings-offset-x: 0px;
$b-side-settings-offset-y: -62px;
$b-side-settings-width: 19px;
$b-side-settings-height: 18px;
$b-side-settings-total-width: 105px;
$b-side-settings-total-height: 80px;
$b-side-settings-image: 'sprite.png';
$b-side-settings: (0px, 62px, 0px, -62px, 19px, 18px, 105px, 80px, 'sprite.png', 'b-side__settings', );
$b-top-arrow-name: 'b-top__arrow';
$b-top-arrow-x: 88px;
$b-top-arrow-y: 73px;
$b-top-arrow-offset-x: -88px;
$b-top-arrow-offset-y: -73px;
$b-top-arrow-width: 10px;
$b-top-arrow-height: 5px;
$b-top-arrow-total-width: 105px;
$b-top-arrow-total-height: 80px;
$b-top-arrow-image: 'sprite.png';
$b-top-arrow: (88px, 73px, -88px, -73px, 10px, 5px, 105px, 80px, 'sprite.png', 'b-top__arrow', );
$b-top-menu-name: 'b-top__menu';
$b-top-menu-x: 63px;
$b-top-menu-y: 0px;
$b-top-menu-offset-x: -63px;
$b-top-menu-offset-y: 0px;
$b-top-menu-width: 25px;
$b-top-menu-height: 19px;
$b-top-menu-total-width: 105px;
$b-top-menu-total-height: 80px;
$b-top-menu-image: 'sprite.png';
$b-top-menu: (63px, 0px, -63px, 0px, 25px, 19px, 105px, 80px, 'sprite.png', 'b-top__menu', );
$b-top-search-name: 'b-top__search';
$b-top-search-x: 0px;
$b-top-search-y: 40px;
$b-top-search-offset-x: 0px;
$b-top-search-offset-y: -40px;
$b-top-search-width: 22px;
$b-top-search-height: 22px;
$b-top-search-total-width: 105px;
$b-top-search-total-height: 80px;
$b-top-search-image: 'sprite.png';
$b-top-search: (0px, 40px, 0px, -40px, 22px, 22px, 105px, 80px, 'sprite.png', 'b-top__search', );
$spritesheet-width: 105px;
$spritesheet-height: 80px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($b-agenda-back, $b-agenda-next, $b-chat-attach, $b-chat-call, $b-chat-menu, $b-chat-send, $b-chat-triangle0, $b-chat-triangle1, $b-chat-videocall, $b-side-chart, $b-side-chat, $b-side-home, $b-side-settings, $b-top-arrow, $b-top-menu, $b-top-search, );
$spritesheet: (105px, 80px, 'sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(../sprites/#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
